In [2]:
import geopandas as gpd
import numpy as np
from linearmodels.iv import IV2SLS

In [5]:
gdf_bus = gpd.read_file('/Users/nagampere/Downloads/2024-12-25_解析結果/駅及びバス停.shp')
gdf_res = gpd.read_file('/Users/nagampere/Downloads/2024-12-25_解析結果/01_解析結果_全国居住者.shp')

# gdf = gpd.read_file('/Users/nagampere/Downloads/2024-12-25_解析結果/駅及びバス停.shp')

In [10]:
gdf_yoko = gpd.read_file('/Users/nagampere/Downloads/2024-12-25_解析結果/01_解析結果_横浜市居住者.shp')

In [4]:
gdf_bus

        NAME                                           geometry
0    鶴ヶ峰駅_駅舎  POLYGON ((139.54891 35.47498, 139.54923 35.475...
1   鶴ヶ峰駅_バス停  POLYGON ((139.54762 35.47661, 139.54816 35.476...
2   白根アパート_下  POLYGON ((139.54884 35.47959, 139.54894 35.479...
3   白根アパート_上  POLYGON ((139.54874 35.47984, 139.54885 35.479...
4    千丸台団地_下  POLYGON ((139.55123 35.49183, 139.55130 35.491...
5    千丸台団地_上  POLYGON ((139.55183 35.49121, 139.55239 35.491...
6         旭台  POLYGON ((139.54570 35.49419, 139.54581 35.494...
7    白根台第二_上  POLYGON ((139.54619 35.49023, 139.54615 35.490...
8    白根台第二_下  POLYGON ((139.54633 35.48981, 139.54629 35.490...
9   白根小学校前_上  POLYGON ((139.54363 35.48807, 139.54368 35.487...
10   白根台第一_上  POLYGON ((139.54421 35.48827, 139.54425 35.488...
11   白根台第一_下  POLYGON ((139.54475 35.48839, 139.54479 35.488...
12  白根小学校前_下  POLYGON ((139.54333 35.48699, 139.54342 35.487...
13    鶴中入口_下  POLYGON ((139.54502 35.48424, 139.54509 35.484...
14    鶴中入口_上  POLYGON ((139.54534 35.48390, 139.54541 35.483...
15     代官前_下  POLYGON ((139.54713 35.48252, 139.54739 35.482...
16     代官前_上  POLYGON ((139.54712 35.48203, 139.54722 35.482...

In [11]:
gdf_yoko.to_file('/Users/nagampere/Downloads/2024-12-25_解析結果/01_解析結果_横浜市居住者.geojson', driver='GeoJSON')

In [16]:
q_i = pd.read_csv('./data/2020/q_i.csv')['q_i'].to_numpy()
Q_j = pd.read_csv('./data/2020/Q_j.csv')['Q_j'].to_numpy()
w_j = pd.read_csv('./data/2020/w_j.csv')['w_j'].to_numpy()

In [24]:

import numpy as np
from linearmodels.datasets import mroz
from statsmodels.api import add_constant

print(mroz.DESCR)
data = mroz.load()
data = data.dropna()
data = add_constant(data, has_constant="add")

T.A. Mroz (1987), "The Sensitivity of an Empirical Model of Married Women's
Hours of Work to Economic and Statistical Assumptions," Econometrica 55,
765-799.

nlf        1 if in labor force, 1975
hours      hours worked, 1975
kidslt6    # kids < 6 years
kidsge6    # kids 6-18
age        woman's age in yrs
educ       years of schooling
wage       estimated wage from earns., hours
repwage    reported wage at interview in 1976
hushrs     hours worked by husband, 1975
husage     husband's age
huseduc    husband's years of schooling
huswage    husband's hourly wage, 1975
faminc     family income, 1975
mtr        fed. marginal tax rate facing woman
motheduc   mother's years of schooling
fatheduc   father's years of schooling
unem       unem. rate in county of resid.
city       =1 if live in SMSA
exper      actual labor mkt exper
nwifeinc   (faminc - wage*hours)/1000
lwage      log(wage)
expersq    exper^2

In [25]:
data

,const,inlf,hours,kidslt6,kidsge6,age,educ,wage,repwage,hushrs,...,faminc,mtr,motheduc,fatheduc,unem,city,exper,nwifeinc,lwage,expersq
0,1.0,1,1610,1,0,32,12,3.3540,2.65,2708,...,16310,0.7215,12,7,5.0,0,14,10.910060,1.210154,196
1,1.0,1,1656,0,2,30,12,1.3889,2.65,2310,...,21800,0.6615,7,7,11.0,1,5,19.499980,0.328512,25
2,1.0,1,1980,1,3,35,12,4.5455,4.04,3072,...,21040,0.6915,12,7,5.0,0,15,12.039910,1.514138,225
3,1.0,1,456,0,3,34,12,1.0965,3.25,1920,...,7300,0.7815,7,7,5.0,0,6,6.799996,0.092123,36
4,1.0,1,1568,1,2,31,14,4.5918,3.60,2000,...,27300,0.6215,12,14,9.5,1,7,20.100060,1.524272,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,1.0,1,680,0,5,36,10,2.3118,0.00,3430,...,19772,0.7215,7,7,7.5,0,2,18.199980,0.838026,4
424,1.0,1,2450,0,1,40,12,5.3061,6.50,2008,...,35641,0.6215,7,7,5.0,1,21,22.641060,1.668857,441
425,1.0,1,2144,0,2,43,13,5.8675,0.00,2140,...,34220,0.5815,7,7,7.5,1,22,21.640080,1.769429,484
426,1.0,1,1760,0,1,33,12,3.4091,3.21,3380,...,30000,0.5815,12,16,11.0,1,14,23.999980,1.226448,196
427,1.0,1,490,0,1,30,12,4.0816,2.46,2430,...,18000,0.6915,12,12,7.5,1,7,16.000020,1.406489,49

In [55]:
np.ones(len(q_i))

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [32]:
df = pd.DataFrame()
df['q_i'] = q_i
df['Q_j'] = Q_j

In [68]:
np.ravel(q_i.reshape(1,-1).T*np.ones(len(q_i))).reshape(111,111)

array([[0.583   , 0.583   , 0.583   , ..., 0.583   , 0.583   , 0.583   ],
       [0.874333, 0.874333, 0.874333, ..., 0.874333, 0.874333, 0.874333],
       [0.378667, 0.378667, 0.378667, ..., 0.378667, 0.378667, 0.378667],
       ...,
       [0.625   , 0.625   , 0.625   , ..., 0.625   , 0.625   , 0.625   ],
       [0.519667, 0.519667, 0.519667, ..., 0.519667, 0.519667, 0.519667],
       [0.509667, 0.509667, 0.509667, ..., 0.509667, 0.509667, 0.509667]])

In [69]:
model = IV2SLS(w_j, np.array([np.ones(len(q_i)),q_i,Q_j]).T, None, None).fit()

In [60]:
print(model)

                            OLS Estimation Summary
==============================================================================
Dep. Variable:              dependent   R-squared:                      0.2902
Estimator:                        OLS   Adj. R-squared:                 0.2770
No. Observations:                 111   F-statistic:                    80.668
Date:                Thu, Dec 26 2024   P-value (F-stat)                0.0000
Time:                        00:55:32   Distribution:                  chi2(2)
Cov. Estimator:                robust

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
exog.0         245.45     2.9446     83.357     0.0000      239.68      251.22
exog.1         11.736     3.8893     3.0175     0.0025      4.1132      19.359
exog.2         0.5389     1.4064     0.3832     0.7016     -2.2175      3.2953
==============================================================================

In [52]:
model.params['exog.0']

152.28722829655936